html {
  background-color: #0f0e17;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ma Shan Zheng', cursive;
}

.App {
  text-align: center;
  background-color: #f25f4c;
  width: 35rem;
  margin: auto;
  border-radius: 10px;
  padding: 0 1rem 1rem;
  color: #fffffe;
}

.App h1 {
  letter-spacing: 5px;
}

i {
  background-color: azure;
  border: none;
}

i:hover {
  cursor: pointer;
}

.App-title {
  padding: 1rem 1rem 0;
}

.Todo-input {
  width: 25rem;
  border-radius: 5px;
  font-size: 1.3rem;
  background-color: azure;
  margin: 1rem;
}

.delete-btn,
.edit-btn {
  background-color: azure;
  color: #0f0e17;
  border: none;
  font-size: 1.3rem;
  padding: 0.7rem 1.3rem;
  border-radius: 5px;
  margin: auto 5px;

}

.delete-btn:hover {
  background-color: #f25f4c;
  color: white;
}

.reset-btn {
  background-color: red;
  color: white;
  padding: .7rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border-color: black;
}

.reset-btn:focus {
  outline: none;
}

.fa-plus {
  margin: 1rem auto 2rem;
  padding: 1rem 1.5rem;
  color: #0f0e17;
  border-radius: 8px;
  align-items: center;
}

.Todo-input {
  height: 2.5rem;
  margin: 1rem auto 2rem;
}

.fa-plus:hover {
  background-color: #ff8906;
}

.Todo-input:focus {
  outline: none;
}

.edit-input {
  background-color: cornsilk;
  font-style: italic;
  padding-left: 7px;
}

.todo-app {
  display: flex;
  background-color: #ff8906;
  border: #e53170 solid 1px;
  padding: 0.5em;
  border-radius: 5px;
  margin: 10px;
  color: #fffffe;
  font-weight: bold;
  align-items: center;
}

.Form-input {
  display: flex;
}

li {
  list-style: none;
  font-size: 1.3rem;
  margin: 0.5rem;
  margin-right: auto;
}

.Todo-container {
  padding: 0;
}